<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
    <h2>Edit your post</h2>
    <p><b>Post id:</b> <%= post.id%> </p>
    <p><b>Post username:</b> @<%= post.username%></p>
    <form method="post" action="/posts/<%= post.id%>?_method=PATCH">
        <textarea rows="8" name="content"> <%= post.content%></textarea>
        <button>Update post</button>
    </form>
    </div>
</body>
</html>